#include <dt-bindings/gpio/tegra-gpio.h>

/ {
	i2c@7000c000 {
		jsa1127@39 {
			compatible = "solteamopto,jsa1127";
			reg = <0x39>;
			light_threshold_lo = <0>;
			light_threshold_hi = <0>;
			light_resolution_ival = <20>;
			light_resolution_fval = <0>;
			light_max_range_ival = <6553>;
			light_max_range_fval = <400000>;
		};
	};

};
